{% load static %}
<script pre src="{% static 'main/js/invoice_form.js' %}" defer></script>
<script  pre src="{% static 'main/dist/libs/apexcharts/dist/apexcharts.min.js' %}" defer></script>
<script pre src="{% static 'main/dist/libs/jsvectormap/dist/js/jsvectormap.min.js' %}" defer></script>
<script pre src="{% static 'main/dist/libs/jsvectormap/dist/maps/world.js' %}" defer></script>
<script pre src="{% static 'main/dist/libs/jsvectormap/dist/maps/world-merc.js' %}" defer></script>
<!-- Tabler Core -->
<script pre src="{% static 'main/dist/js/tabler.min.js' %}" defer></script>
<script pre src="{% static 'main/dist/js/demo.min.js' %}" defer></script>




<script  pre src="//unpkg.com/alpinejs" defer></script>
<script pre src="https://unpkg.com/htmx.org@1.9.10"></script> 

