{% load static %}
{% load i18n %}
<div class="modal fade" id="add_item_id" tabindex="-1" 
aria-labelledby="exampleModalLabel" 
aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{% trans "Add Invoice Item" %}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div 
         class="modal-body" 
         hx-trigger="shown.bs.modal from:#add_item_id"
         hx-target="this" 
         hx-swap="innerHTML" 
         hx-get="{% url 'get_item_add_form' %}?invoice_id={{ invoice.id }}" >
      </div>
    </div>
</div>