{% load static %}
{% load i18n %}
{% for item in invoice.items.all  %}
<tr data-item-id="{{item.id}}">

    <td class="text-center">{{forloop.counter}}</td>

    <td>
      <p class="strong mb-1" data-editable="true" > {{item.title | truncatewords:5}}</p>
      <div class="text-muted" data-editable="true">{{item.description | truncatewords:10}}</div>
    </td>

    <td class="text-center">
      {{item.quantity}}
    </td>
    <td class="text-end" >${{item.amount}}</td>
    <td class="text-end">${{item.total_amount}}</td>
    <td class="text-end d-print-none">
        <span class="dropdown">
          <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">Actions</button>
          <div class="dropdown-menu dropdown-menu-end">
            
            <a class="dropdown-item" 
                data-bs-toggle="modal" 
                data-bs-target="#modal-{{ item.id }}"
            >
             {% trans "Edit" %}
            </a>
            <a class="dropdown-item" href="#">
               {% trans "Delete" %}
            </a>

          </div>
        </span>
      </td>
  </tr>
<!-- edit modal -->
  <div class="modal fade" id="modal-{{item.id}}" tabindex="-1" aria-labelledby="modallabel-{{item.id}}" 
  aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" 
            id="exampleModalLabel">
            {% trans "Edit Invoice Item" %}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div 
           class="modal-body"
           id="modal-content-{{item.id}}"
           hx-trigger="shown.bs.modal from:#modal-{{item.id}}"
           hx-target="this" 
           hx-swap="innerHTML" 
           hx-get="{% url 'get_item_edit' item.id %}"   
           >
        </div>
      </div>
  </div> 
<!-- cancel modal -->

{% endfor %}