{% load static %}
{% load i18n %}
{% for item in invoice.items.all  %}
<tr data-item-id="{{item.id}}">

    <td class="text-center">{{forloop.counter}}</td>

    <td>
      <p class="strong mb-1" data-editable="true" > {{item.title | truncatewords:5}}</p>
      <div class="text-muted" data-editable="true">{{item.description | truncatewords:10}}</div>
    </td>

    <td class="text-center">
      {{item.quantity}}
    </td>
    <td class="text-end" >${{item.amount}}</td>
    <td class="text-end">${{item.total_amount}}</td>
    <td class="text-end d-print-none">
        <span class="dropdown">
          <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">Actions</button>
          <div class="dropdown-menu dropdown-menu-end">
            
            <a class="dropdown-item" 
                data-bs-toggle="modal" 
                data-bs-target="#modal-{{item.id}}"
            >
             {% trans "Edit" %}
            </a>
            <a class="dropdown-item"
            dat-bs-toggle="modal"
            data-bs-target="#modal-danger" 
            >
               {% trans "Delete" %}
            </a>

          </div>
        </span>
      </td>
  </tr>
<!-- edit modal -->
{% include "main/components/modals/edit_item_modal.html" %}

<!-- delete  modal -->
 {% include "main/components/modals/delete_item_modal.html" %}


{% endfor %}